<p>
To connect to SMRT Link, please open a terminal on your <em>local</em> computer and run the following command: <code><%= ssh_tunnel %></code>
<p>
<p>
Once you have done this, open your <em>local</em> browser of choice and enter the following URL: <code><%= connection_string %></code>
<p>
<p>
At this point, you will be asked to enter a username and password, which is `admin` and `admin`.</a>
<p>

